*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,15,0.5),rgba(4,9,15,0.5)),url(images/vision.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 200px;

}

.nav-links{
  flex: 1;
  text-align: left;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.nav-links ul li::after{
  content: "";
  width: 0%;
  height: 2px;
  background: #d94c83;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 64px;
}

.text-box p{
  font-size: 18px;
  font-weight: lighter;
  margin: 30px 0px 40px;
}

.cu-button{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.cu-button:hover{
  border: 1px solid #fff;
  background: #d94c83;
  transition: 0.5s;
}
